.icon-container img,
.socials svg {
    object-fit: contain;
    cursor: pointer
}

body {
    font-family: Inter, sans-serif;
    box-sizing: border-box
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes floatAnimation {

    0%,
    100% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(20px)
    }
}

@keyframes pulseEffect {

    0%,
    100% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.05)
    }
}

.icon-container img {
    width: 32px;
    height: 32px;
    transition: .3s ease-in-out
}

.icon-container img:hover {
    transform: scale(1.2)
}

.fade-in {
    animation: .8s ease-in-out fadeIn
}

.tooltip {
    visibility: hidden;
    background-color: #fff;
    color: #111827;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .3s
}

.btn-animated,
.socials svg {
    transition: .3s ease-in-out
}

.icon-container:hover .tooltip {
    visibility: visible;
    opacity: 1
}

.floating-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/mask.png') center center/cover no-repeat fixed;
    opacity: .3;
    animation: 5s ease-in-out infinite floatAnimation;
    z-index: -1
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px
}

.socials svg {
    background-color: #fff;
    border-radius: 50%;
    padding: 4px;
    color: #111827;
    width: 36px;
    height: 36px
}

.socials svg:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, .3)
}

.btn-animated {
    background-color: #fff;
    padding: 12px 16px;
    margin-top: 20px;
    animation: 2s infinite pulseEffect
}

.btn-animated:hover {
    transform: scale(1.2);
    background-color: #f0f0f0ca
}

.my-profile {
    cursor: pointer;
    transition: transform .4s, filter .4s
}

.my-profile:hover {
    transform: scale(1.1) translateY(10px);
    filter: brightness(.9) contrast(1.2) saturate(1.5)
}